body {
  box-sizing: border-box;
  margin: 0;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 58px;
  background-color: #D9D9D9;
}
/** 컨테이너 부분 */
.container {
  width: 458px;
  height: 500px;
  background-color: #B3B3B3;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
/* 뒤로가기 버튼 */
.back_btn {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.back_btn button {
  margin: 0;
  padding: 0;
}
/** 로그인 폼 부분 */
.login_form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.login_form input {
  border: 0;
}
/* 로그인 상단 텍스트 */
.login_logo {
  color: #FFF;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.id_pwd_input{
  margin-bottom: 200px;
}
/* 로그인 id 입력란 */
.login_input_id {
  width: 344px;
  height: 48px;
  border-radius: 5px;
  background: #D9D9D9;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* 로그인 pwd 입력란 */
.login_input_pwd {
  width: 344px;
  height: 48px;
  border-radius: 5px;
  background: #D9D9D9;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 7px;
}
.login_signUp_style {
  margin-top: 10px;
}
.login_signUp_style a {
  color: #000000;
  text-decoration: none;
}

/* 로그인 버튼 */
.login_btn {
  width: 154px;
  height: 48px;
  border-radius: 5px;
  background: #D9D9D9;
  border: 0;
  cursor: pointer;
  transition: background-color 0.2s ease;
  color: #A7A4A4;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.login_btn:hover{
  background-color: #A7A7A7;
}
/* 로그인 버튼박스 */
.login_btn_style {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}